<h1>Create a new task here!</h1>

<%= form_for(@task) do |f| %>

	<%= f.label :task_name, "Name your task:" %>
	<%= f.text_field :task_name %>
	<br>
	<%= f.label :list_id, "What is the list ID?" %>
	<%= f.text_field :list_id %>
	<br>
	<%= f.label :status, "What is the status of this task? (0=not done 1=done)" %>
	<%= f.text_field :status %>
	<br>
	<%= f.submit "Create List!" %>

<% end %>